<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-no-border">
    <h1 class="title">Settings</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="closeModal()">
        <span class="font-bold">Done</span>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="stable-bg">
    <div class="list">
      <div class="item item-divider no-bg b-none text-muted text-sm">@MRHIEU</div>
      <div class="list">
        <a class="item" href="">
          Account
          <span class="item-note">
            <i class="icon ion-chevron-right"></i>
          </span>
        </a>

        <a class="item" href="">
          Timeline
          <span class="item-note">
            <i class="icon ion-chevron-right"></i>
          </span>
        </a>

        <a class="item" href="">
          Notifications
          <span class="item-note">
            <i class="icon ion-chevron-right"></i>
          </span>
        </a>

        <a class="item" href="">
          Privacy and safety
          <span class="item-note">
            <i class="icon ion-chevron-right"></i>
          </span>
        </a>

      <div class="item item-divider no-bg m-t b-none text-muted text-sm">GENERAL</div>
      <div class="list">
        <a class="item" href="">
          Display and sound
          <span class="item-note">
            <i class="icon ion-chevron-right"></i>
          </span>
        </a>

        <a class="item" href="">
          Data
          <span class="item-note">
            <i class="icon ion-chevron-right"></i>
          </span>
        </a>

        <a class="item" href="">
          About Twitter
          <span class="item-note">
            <i class="icon ion-chevron-right"></i>
          </span>
        </a>

        <a class="item" href="">
          Contact me
          <span class="item-note">
            mr_hie@yahoo.com
          </span>
        </a>
        <div class="item" ng-click="signout()">
          Sign Out
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
