<ion-view view-title="Flow">

  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-positive button-icon ion-ios-search-strong m-r" ui-sref="tab.search">
    </button>
    <new-tweet></new-tweet>
  </ion-nav-buttons>



  <ion-floating-button >
  </ion-floating-button>

  <ion-content class="stable-bg has-subheader">
    <div ng-switch="activeBar">
      <div ng-switch-default class="list">
        <item-tweet data="p" ng-repeat="p in posts track by $index"></item-tweet>
      </div>

      <div ng-switch-when="1" class="list">
        <item-tweet data="p" type="mention" ng-repeat="p in posts track by $index"></item-tweet>
      </div>
    </div>
  </ion-content>
</ion-view>
