<ion-view view-title="Home">
  <ion-nav-title>
    <h1 class="title positive"><i class="icon ion-ios-star-half text-xl"></i></h1>
  </ion-nav-title>

<ion-floating-menu bottom="110px" >
    <ion-floating-item icon="ion-ios-star-half" text="New Flow " click="open_new_flow()"></ion-floating-item>
    <ion-floating-item icon="ion-search" Text ="Search" click="myEvent()"></ion-floating-item>
</ion-floating-menu>


  <ion-content class="stable-bg" ion-sticky ion-sticky-class="dark">
    <div class="list">
      <div class="item item-trending" ng-repeat="item in results track by $index" ui-sref="tab.clan">
        <div class="pull-left m-r text-muted">{{$index + 1}}</div>

        <div class="clear">
          <div class="font-bold">
           <i class="icon ion-ios-star-half m-b">{{item.title}}</i>
          </div>
          <div class="m-b">{{item.description}}</div>
          <p><span class="font-bold m-r-xs">{{item.followers | number}}</span> FOLLOWERS</p>
        </div>
      </div>
    </div>

  </ion-content>


</ion-view>
