<ion-view view-title="{{flowtitle}}">


  <ion-floating-menu bottom="110px" >
    <ion-floating-item><new-tweet></new-tweet></ion-floating-item>
    <ion-floating-item icon="ion-ios-star-half" text="New Flow " click="open_new_flow()"></ion-floating-item>
    <ion-floating-item icon="ion-search" Text ="Search" click="myEvent()"></ion-floating-item>
  </ion-floating-menu>

  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-positive button-icon ion-ios-search-strong m-r" ui-sref="tab.search">
    </button>
    <new-tweet></new-tweet>
  </ion-nav-buttons>

  <div class="bar flowheader" style="justify-content : space-between;">
    <div>
      {{flowProfile.description}}
    </div>

    <div ng-switch="IsFollwers">
      <div ng-switch-default>
        <button  class="button button-positive icon icon-left ion-plus-round" ng-click="followingSend()">
          Follow
        </button>
      </div>
      <div ng-switch-when="yesyes" >
        <button  class="button button-stable icon icon-left ion-minus-round" ng-click="UnfollowingSend()">
          Unfollow
        </button>
      </div>
    </div>

  </div>
</div>



<div class="bar bar-flowheader" ng-init="activeBar = 0">
  <div class="button-bar">
    <a class="button button-positive" ng-class="{'button-outline': activeBar !== 0}" ng-click="activeBar = 0">All</a>
    <a class="button button-positive" ng-class="{'button-outline': activeBar !== 1}" ng-click="activeBar = 1">Mentions</a>
  </div>
</div>

<ion-content class="stable-bg has-flowheader ">
  <div ng-switch="activeBar">
    <div ng-switch-default class="list">
      <item-tweet data="p" ng-repeat="p in posts track by $index"></item-tweet>
    </div>

    <div ng-switch-when="1" class="list">
      <item-tweet data="p" type="mention" ng-repeat="p in posts track by $index"></item-tweet>
    </div>
  </div>
</ion-content>
</ion-view>
