<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-no-border">

    <h1 class="title positive">New FLOW</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="close()">
        <i class="icon ion-android-close"></i>
      </button>
    </div>
  </ion-header-bar>

  <ion-content  padding="true">
    <div class="padding">


      <div class="spacer" style="width: 300px; height: 50px;"></div>


      <form name="newflow.formset">
        <md-input-container class="md-block">
          <label>Flow Title</label>
          <input required name="FlowTitle" maxlength="20" md-maxlength="20"  md-no-asterisk="" name="title" ng-model="newflow.title">
          <div ng-messages="projectForm.description.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The Title must be less than 10 characters long.</div>
          </div>
        </md-input-container>


        <md-input-container class="md-block">
          <label>Description</label>
          <input maxlength="30" md-maxlength="30" required="" md-no-asterisk="" name="description" ng-model="newflow.description">
          <div ng-messages="projectForm.description.$error">
            <div ng-message="md-maxlength">The description must be less than 20 characters long.</div>
          </div>
        </md-input-container>



        <label class="item item-select" id="cameraTabDefaultPage-select2">
          <span class="input-label">FlOW Superposition</span>
          <select>
            <option value="" type="checkbox"> Check all</option>
          </select>
        </label>


        <!--아래의 select의 dropdown을 modal view에서 정상적으로 클릭하기 위해서는  pointer-events: auto를 윈래  none에서 auto로 바꾸
         어 주어야 한다. css에서..md-select-menu-container!-->

         <md-input-container flex="50">
         <label>Favorite Color</label>
         <md-select name="favoriteColor" ng-model="favoriteColor" ng-if="showthis" multiple>
           <md-option value="red">Red</md-option>
           <md-option value="blue">Blue</md-option>
           <md-option value="green">Green</md-option>
         </md-select>
         <div class="errors" ng-messages="myForm.favoriteColor.$error">
           <div ng-message="required">Required</div>
         </div>
       </md-input-container>

        <div class="spacer" style="width: 300px; height: 20px;"></div>

        <button id="cameraTabDefaultPage-button1" class="button button-positive  button-block" ng-click="send()">Submit</button>
      </div>
    </form>


  </ion-content>

</ion-modal-view>
