<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-no-border">

    <h1 class="title positive">New FLOW</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="close()">
        <i class="icon ion-android-close"></i>
      </button>
    </div>
  </ion-header-bar>

  <ion-content>

    <label class="item item-input item-floating-label">
      <span class="input-label">Flow Name</span>
      <input type="text" ng-model="newFlowName" placeholder="First Name">
    </label>
    <p>flowname : {{newFlowName}}</p>
    <div class="wrapper">
      <textarea class="w-full text-lg" rows="5" placeholder="What's up, Flow?" ng-model="description"></textarea required>
    </div>

  </ion-content>

  <ion-footer-bar keyboard-attach horizontal layout justified>

    <div class="text-muted">
      <div class="ng-binding inline m-t-xs m-r" ng-class="{assertive: tweet.text.length >= 140}">{{ (140 - tweet.text.length) | number:0 }}</div>
      <button class="button button-positive button-small" ng-click="send()">Tweet</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
