<ion-view view-title="Onboarding">
  <ion-content scroll="false" class="positive-bg color-white padding" vertical layout justified>
    <div class="wrapper-lg">
      <i class="icon ion-social-twitter text-3x"></i>
    </div>

    <div class="wrapper-lg">
      <div class="font-bold l-h-1x">
        <div class="text-3x m-b-lg">
          Welcome to <br> fireFlow
        </div>
        <div class="text-lg m-b-lg">See what's happening in the world <br> right now</div>
      </div>
    </div>

    <div class="wrapper-lg">
      <button class="button button-light button-block font-bold" ng-click="openLogin()"><span class="positive">Sign up</span></button>
      <button class="button button-clear button-block font-bold" ng-click="openLogin()"><span class="light">Log in</span></button>
    </div>
  </ion-content>
</ion-view>
