<div class="item item-avatar item-tw item-text-wrap">
  <img ng-src="{{vm.data.user.profile_image_url1}}" alt="" random-avatar>

  <div class="pos-rlt">
    <div class="font-bold">{{vm.data.user.name}} <i class="icon ion-checkmark-circled calm"></i></div>
    <div class="text-sm text-muted">@{{vm.data.user.screen_name}}</div>
  </div>

  <div class="right-top wrapper-sm">
    <button class="button button-outline button-positive button-small padder"><i class="icon ion-person-add"></i></button>
  </div>

  <div class="m-b">User experience consultant. Information architect. Music lover. Rocket scientist. Not me LoL.</div>
</div>
