<ion-view view-title="Home">


  <ion-nav-title>
    <h1 class="title positive"><i class="icon ion-social-twitter text-xl"></i></h1>
  </ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-clear button-positive button-icon ion-person-add" ui-sref="tab.connect">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-positive button-icon ion-ios-search-strong m-r" ui-sref="tab.search">
    </button>
    <new-tweet></new-tweet>
  </ion-nav-buttons>

  <ion-floating-menu bottom="110px" >
      <ion-floating-item icon="ion-camera" click="myEvent()"></ion-floating-item>
      <ion-floating-item icon="ion-person" click="open_new_tweet()"></ion-floating-item>
  </ion-floating-menu>


  <ion-content class="stable-bg" ion-sticky ion-sticky-class="dark">
    <ion-refresher on-refresh="getData()" pulling-icon="ion-chevron-up"></ion-refresher>

    <div class="list">

      <item-tweet data="p" ng-repeat="p in posts track by $index"></item-tweet>
    </div>
  </ion-content>
</ion-view>
